$white: #ffffff;
$black: #000000;

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
  -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}

html, body, #vue-app {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  overflow: auto;
}

#vue-app {
  position: relative;
  //background: url(../img/icon.svg) #222222 no-repeat center bottom;
  background: #222222 no-repeat center bottom;
  background-size: contain;
  padding-bottom: 1em;
}

.search-input {
  padding-right: 2rem;
  text-overflow: ellipsis;
}
.clear-search {
  position: absolute;
  top: 0.75em;
  right: calc(1em + 100px);
  color: black;
  z-index: 100;
}

.form-control {
  height: 3em !important;
  border-radius: 0 !important;
  border-color: black !important;
}
.show-all-button {
  width: 100px;
  background: #fff;
  color: black;
  height: 3em;
  padding: 0.5rem 0.75rem;
  line-height: 1.25;
  border: 1px solid black;
  justify-content: center;
}
.show-all-button:focus {
  outline: none !important;
}

section.index {
  position: absolute;
  top: 6.2em;
  width: 100vw;
  height: calc(100vh - 6em);
  overflow: auto;

  .list-group-item {
    border-radius: 0;
    border: 1px solid black;

    a {
      color: black;
    }
  }

}

section.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  z-index: 1000;
  padding: 1em;

  .close-icon {
    position: absolute;
    top: 0;
    right: 0.5em;
    font-size: 1.5em;
  }
}

section.matches {
  display: block;
  margin-top: 1em;

  .character {
    font-size: 18px;
    margin: 0.5em;
    padding: 0.5em 1em;
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0.9);


    .chapter-title {
      color: darkred;
    }
  }

}

/* Make characters under "Show All" menu clickable the width of the whole row */
.index-link {
  display: inline-block;
  width: 100%;
}